[Unit]
Description=Socks-Router
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/socks-router -config /etc/socks-router.routes -listen 127.0.0.1:1080
Restart=always

[Unit]
ConditionPathExists=/etc/socks-router.routes

[Install]
WantedBy=multi-user.target
